{% extends "base.html" %}
{% block title %}
<title>
    Настольные игры
</title>
{% endblock %}
{% block content %}
<h2 align = "center" style = "margin-top: 20px;color :rgba(26, 117, 79, 0.779)"> Информационная система для сообщества любителей настольных игр </h2>
<h6 align = "center" style = "margin-top: 20px;">
Данная система предназначена для облегчения подбора подходящих для пользователя настольных игр
<br>

<p>Инструкция к навигационной панели:</p>

<ul>
    {% if user.is_authenticated %}
    <li><b>Настольные игры: Главная</b> - переход к главной странице</li>
    <li><b>Поиск</b> - переход к странице, содержащей средства для поиска игр</li>
    {% else%}
    <li><b>Настольные игры: Главная</b> - переход к главной странице</li>
    <li><b>Регистрация</b> - переход к странице регистрации новых пользователей</li>
    <li><b>Войти</b> - переход к странице авторизации для входа в аккаунт</li>
    <li><b>Каталог</b> - переход к странице, содержащей каталог настольных игр и средства для поиска и фильтрации</li>
    {% endif%}
    
    {% if user.is_authenticated %}
    <li><b>Профиль | {{user.username}}</b> - переход к персональной странице пользователя, где можно просмотреть свой список избранного и данные аккаунта.
    </li>
    {% endif%}
    {% if user.is_superuser == True %}
    <li><b>Администрирование</b> - переход к администраторской панели</li>
    {% endif%}
    {% if user.is_authenticated %}
    <li><b>Выйти</b> - выход из аккаунта</li>
    {% endif%}
    <p>Кроме того, при нажатии на название или изображение настольной игры произойдет переход к странице с ее подробным описанием,
        содержащим для зарегистрированных пользователей дополнительно возможность поставить оценку и добавить игру в избранное.</p>
</ul>
</h6>


<h3 align = "center" style = "margin-top: 20px;"> Каталог игр: </h3>
<div id="catalog" style ="margin-left : 0.7%">
    {% for result in bgdata %}
        <div class = "color1 box-shadow2">
            <a href="/detail/{{result.0}}" style="color: #154e45;">
            <h6 class ="color2 flex bold_font">{{result.1}}</h6>
            </a>
            <span class="layer1">
                <a href="/detail/{{result.0}}"><img src={{result.10}} class = "box-shadow2 img1" alt=""></a>
            <span id="square" class = "flex1 layer2" style = "font-size: 17px">{{result.7}}</span>
            </span>
            <p>Количество игроков: от {{result.3}} до {{result.4}} </p> 
            <p>{{result.5}}+</p> 
        </div>        
    {% endfor %}                         
</div>
{% endblock %}
